/*Author: Ghiselle Giraldo*/

.history-title {
  text-align: center;
  padding: 5em 1em;
  color: white;
  text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black, 
    1px 1px 0 black;
}

.history-title h1 {
  font-size: 2.5em;
  color: white;
  text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black, 
    1px 1px 0 black;
}

.history-title p {
  font-size: 1.2em;
  margin-top: 1em;
  color: white;
  text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black, 
    1px 1px 0 black;
}

.history-story {
    border: 2px solid black;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    background-image: url('https://us.123rf.com/450wm/gn8/gn81607/gn8160700029/60393111-comic-strip-monochrome-background-different-panels-rays-lines-dots-template-vector-eps-10.jpg?ver=6');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    text-shadow: 
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white, 
      1px 1px 0 white;
}
