/*Author: Ghiselle Giraldo*/


.product-columns {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  gap: 20px; 
}

.product {
  flex: 1; 
  text-align: center;
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.product a {
  text-decoration: none; 
  color: inherit; 
}

.product img {
  height: 200px; 
  width: auto;
  margin-bottom: 10px;
}


